
.header-work{
    display:flex;
    justify-content: space-between;

}
.header-work>*{
    margin: 0;
}
.search{
    align-items: center;
    display: flex;
}

.menu{
    align-items: center;
    display: flex;
}
header  > p{
    margin: 0;
    font-size: 0.7em;
    display: flex;
}
/* section styling */
.card-show{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.card > *{
    margin:0px;
}
.bg-img{
    background-image: url('abc.jpg');
    background-size: cover;
    height: 164px;
    width: 130px;
    margin: 0px;
}
/* footer styling */
.footer-styling{
    display: flex;
    justify-content: space-between;
}
.footer-two{
    display: flex;
    flex-direction: column;
}
.footer-one{
    display: flex;
    flex-direction: column;

}
.footer-four{
    display: flex;
    flex-direction: column;

}
.footer-five{
    display: flex;
    flex-direction: column;
}